{{ extends "/default.html" }}

{{ define "content"}}
	<div id="imgContainer" class="grid">
	</div>

	<script>
		let currentPage = 1;
		let macy;

		function initPSWP() {
			var pswpElement = document.querySelectorAll(".pswp")[0];

			// build items array
			var items = [
				{
					src: "https://placekitten.com/600/400",
					w: 600,
					h: 400
				},
				{
					src: "https://placekitten.com/1200/900",
					w: 1200,
					h: 900
				}
			];

			// define options (if needed)
			var options = {
				// optionName: 'option value'
				// for example:
				index: 0 // start at first slide
			};

			// Initializes and opens PhotoSwipe
			var gallery = new PhotoSwipe(
				pswpElement,
				PhotoSwipeUI_Default,
				items,
				options
			);
			gallery.init();
		}

		function mFun() {
			if (!macy) return;
			macy.runOnImageLoad(function () {
				macy.recalculate(true, true);
			}, true);
		}

		function addImg(list) {
			var imgContainer = document.getElementById("imgContainer");
			var h = "";
			for (var i = 0; i < list.length; i++) {
				var item = list[i];
				h += `<img alt="" src="/${item.URL}" class="grid-item"/>`;
			}
			imgContainer.innerHTML += h;
			mFun();
		}

		function reloadData() {
			$.ajax({
				type: "get",
				url: "/gallery?page=" + currentPage + "&limit=10",
				success: function (json) {
					if (json != null) {
						addImg(json);
					}
				}
			});
		}

		window.onload = function () {
			let sidebar = document.getElementById("sidebar");
			let wrapper = document.getElementById("wrapper");
			sidebar.style.display = "none";
			wrapper.style.marginRight = "0px";

			macy = Macy({
				container: '#imgContainer',
				trueOrder: false,
				waitForImages: false,
				margin: 24,
				columns: 4,
				breakAt: {
					1200: 4,
					940: 3,
					520: 2,
					400: 1
				}
			});

			reloadData();
			// 上拉加载更多
			$(window).scroll(function () {
				if ($(window).scrollTop() === $(document).height() - $(window).height()) {
					currentPage++;
					reloadData();
				}
			});
		};
	</script>
	<script src="https://unpkg.com/macy@2.5.0/dist/macy.js"></script>
{{ end }}
